{% extends 'console_user_management/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Mass Update
    {{ block.super }}
{% endblock %}

{% block mainbar %}
    <div class="p-1">
        <h2>Mass Update</h2>
        <form method="post">
            {{ formset.management_form }}

            {% csrf_token %}
            <table class="table">
                <thead>
                <th></th>
                <th>User</th>
                <th>Role</th>
                <th>Expiry Date</th>
                <th>Delete</th>
                </thead>
                <tbody>
                {% for form in formset %}
                    <tr>
                        {{ form.id }}
                        <td>{{ forloop.counter }}</td>
                        <td>{{ form.instance.user }}</td>
                        <td>{{ form.instance.role }}</td>
                        <td>
                            {{ form.expiry_date }}
                        </td>
                        <td>{{ form.DELETE }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
    </div>
{% endblock %}