{% extends 'console_user_management/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Role Creation
{{ block.super }}
{% endblock %}

{% block mainbar %}
<div class="p-1">
    <h2>Role Creation</h2>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
    <form method="post">
        {% csrf_token %}
        <div class="d-flex flex-row">
            <div>
                {{ role_form | crispy }}
            </div>
            <div class="d-flex flex-wrap">
                {% for form in role_perm_assignment_forms %}
                <div class="border m-1 p-1">
                    {{ form | crispy }}
                </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create Role</button>
    </form>
</div>
{% endblock %}