<div>
    <ol>
        <li>
            <a href="{% url 'user_creation' %}">
                User Creation
            </a>
        </li>
        <li>
            <a href="{% url 'role_creation' %}">
                User Role Creation
            </a>
        </li>
        <li>
            <a href="#">
                User and Role Association
            </a>
        </li>
        <li>
            <a href="#">
                User Modification
            </a>
        </li>
        <li>
            <a href="#">
                Role Modification
            </a>
        </li>
        <li>
            <a href="#">
                User and Role Association Modification
            </a>
        </li>
        <li>
            <a href="#">
                User Deletion
            </a>
        </li>
        <li>
            <a href="#">
                Role Deletion
            </a>
        </li>
        <li>
            <a href="#">
                Mass User, Role, Association (Creation, Modification and Deletion)
            </a>
        </li>
        <li>
            <a href="#">
                User and Role Reports
            </a>
        </li>
    </ol>
</div>