<div>
    <ol>
        <li class="border">
            <a href="{% url 'user_creation' %}">
                User Creation
            </a>
        </li>
        <li class="border">
            <a href="{% url 'role_creation' %}">
                User Role Creation
            </a>
        </li>
        <li class="border">
            <a href="{% url 'user_role_assignment' %}">
                User and Role Assignment
            </a>
        </li>
        <li class="border">
            <a href="{% url 'user_modification' %}">
                User Modification
            </a>
        </li>
        <li class="border">
            <a href="{% url 'role_modification' %}">
                Role Modification
            </a>
        </li>
        <li class="border">
            <a href="#">
                User and Role Association Modification
            </a>
        </li>
        <li class="border">
            <a href="{% url 'user_deletion' %}">
                User Deletion
            </a>
        </li>
        <li class="border">
            <a href="{% url 'role_deletion' %}">
                Role Deletion
            </a>
        </li>
        <li class="border">
            <a href="#">
                Mass User, Role, Association (Creation, Modification and Deletion)
            </a>
        </li>
        <li class="border">
            <a href="#">
                User and Role Reports
            </a>
        </li>
    </ol>
</div>