{% extends 'console_user_management/base.html' %}

{% load crispy_forms_tags %}

{% block title %}
User Deletion
{{ block.super }}
{% endblock %}

{% block mainbar %}
<div class="p-1">
    <h2>User Deletion</h2>
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-danger">Delete User</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        $("#{{ form.user.auto_id }}").select2();
    })
</script>
{% endblock %}