<div class="d-flex flex-row border">
    <a href="#" class="border">
        Console User Management
    </a>
    <a href="#" class="border">
        Enterprise Meta Data Management
    </a>
    <a href="#" class="border">
        Enterprise Policy Management
    </a>
    <a href="#" class="border">
        Enterprise Data Product Management
    </a>
    <a href="#" class="border">
        Enterprise Role Config Management
    </a>
    <a href="#" class="border">
        Enterprise Policy Config Management
    </a>
    <a href="#" class="border">
        Enterprise User Group Config Management
    </a>
    <a href="#" class="border">
        Enterprise User Config Management
    </a>
</div>